<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <div class="mikecontainer">
      <div class="text-center">
        <h1>Gifts from this nonprofit</h1>
  </head>
    <body>
        <h3>Deliver To:</h3><br>    <%= @nonprofit.address %></br><br>
        <h3>Where its going:</h3>  <br>   <%= @nonprofit.business_name %></br>
        <%= @nonprofit.description %></br>

        <h2>Choose a Gift</h2>
        <% @nonprofit.gifts.each do |gift| %>
          <%= link_to(gift[:body], nonprofit_gift_path(@nonprofit, gift)) %>
            </br>
        <% end %>
            </br>
        <% if authorized? || admin? %>
          <%= link_to("Edit this nonprofit", edit_nonprofit_path(@nonprofit)) %>
            </br>
          <%= link_to("Make a new gift for this nonprofit", new_nonprofit_gift_path(@nonprofit)) %>
            </br>
          <%= link_to 'Delete this nonprofit', @nonprofit, method: :delete, data: { confirm: "Are you sure you want to delete this nonprofit? It can't be undone!"  } %>
            </br>
        <% end %>
          <%= link_to 'Back', :back %>
      </div>
    </div>
    </body>
</html>
