<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <h1>New nonprofit</h1>
  </head>
    <body>
      <div class="mikecontainer">
        <%= form_for @nonprofit do |f| %>
            Enter Business-Name
            <%= f.text_field :Business_name %>
            <br>
            Address
          <%= f.text_field :address %>
            </br>
            Enter Description
          <%= f.text_field :description %>
            </br>
          <%= hidden_field_tag(:userid, @user_id) %>
          <%= f.submit "create nonprofit!" %>
        <% end %>

          <%= link_to 'Back', :back %>
      </div>
</body>
</html>
