<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
  </head>
    <body>
      <div class="mikecontainer">
        Description:
        <%= @nonprofit[:business_name] %>
        <%= @nonprofit[:address] %>
        <%= @nonprofit[:description] %>

          </br>
          </br>
        Gifts BELOW:
          </br>
          </br>
            <div class="text-center">
              <% @nonprofit.gifts.each do |gift| %>
                <%= link_to(gift[:body], nonprofit_gift_path(@nonprofit gift)) %>

              <% end %>
      </div>
              </br>
              </br>
              </br>
                <% if authorized? || admin? %>
                  <%= link_to("Edit this nonprofit", edit_nonprofit_path(@nonprofit)) %>
                    </br>
                  <%= link_to("Make a new gift for this nonprofit", new_nonprofit_gift_path(@nonprofit)) %>
                    </br>
                  <%= link_to 'Delete this nonprofit', @nonprofit, method: :delete, data: { confirm: "Are you sure you want to delete this nonprofit? It can't be undone!"  } %>
                    </br>
                <% end %>
                  <%= link_to 'Back', :back %>
            </div>
    </body>
</html>
